/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,900');

	/* Generic */
	html {
		color: #222;
		font-size: 1em;
		line-height: 1.4;
	}

	::-moz-selection {
		background: #b3d4fc;
		text-shadow: none;
	}

	::selection {
		background: #b3d4fc;
		text-shadow: none;
	}

	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid #ccc;
		margin: 1em 0;
		padding: 0;
	}

	div{-webkit-box-sizing:border-box;box-sizing:border-box;}

	audio,
	canvas,
	iframe,
	img,
	svg,
	video {vertical-align: middle;}

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	textarea {resize: vertical;}

	.browserupgrade {
		margin: 0.2em 0;
		background: #ccc;
		color: #000;
		padding: 0.2em 0;
	}

/* ==========================================================================
   Fonts
   ========================================================================== */

	h1, h2, h3, h4, h5, h6, p, body{font-family:'Muli', sans-serif;font-weight:400;margin:0;}
	h1, h2, h3, h4, h5, h6{text-transform:uppercase;}
	h3{font-size:1.25em;}

	a{text-decoration: none; color:inherit;}
	p a{
		padding-bottom:1px;
		border-bottom:1px dashed rgba(0,0,0,0.1);
		-webkit-transition:all var(--transition-time);
		transition:all var(--transition-time);
	}
	p a:hover{border-color:inherit;}

	.black h1, .black h2, .black h3, .black h4, .black h5, .black h6{
		font-weight:300;
	}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

	/* Variables */
		:root{
			--transition-time:500ms;
		}

	/* Framework / Universal */
		.section{
			position:relative;
			margin:0 auto;
			display:block;
		}
		.section.padded{padding:5% 0;}
		.container{
			margin:0 auto;
			width:100%;
			max-width:1024px;
			text-align: center;
		}
		.parallax{
			width:100%;
			height:100%;
			height:100vh;
			background-attachment: fixed;
			background-size:cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
			@media (max-width:1024px) and (-webkit-min-device-pixel-ratio: 1){
				.parallax{background-attachment:scroll;}
			}
		.flex{
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-align:center;
				-ms-flex-align:center;
					align-items:center;
			-webkit-box-pack: center;
				-ms-flex-pack: center;
					justify-content: center;
		}
		.flex.column{-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
		.black{
			background-color:black;
			padding:12px 75px;
			color:white;
			display:inline-block;
			margin:0 auto 25px;
			letter-spacing:0.125em;
		}
		.fill, .slide.fill{
			background-size:cover;
			width:100%;
		}
		.scroll.down{
			position:absolute;
			left:50%;
			-webkit-transform:translateX(-50%);
			        transform:translateX(-50%);
			bottom:0;
		}
			@media (max-width:1024px) {
				.container{padding:0 4%;}
			}
			@media (max-width:600px){
				.black{width:100%;text-align:center;}
			}

	/* Buttons */
		button, .button {
			padding:12px 50px;
			border: 2px solid;
			border-color: black;
			color:black;
			background-color:transparent;
			outline:0;
			-webkit-transition:all var(--transition-time);
			transition:all var(--transition-time);
		}
		button:hover, .button:hover{
			background-color:black;
			color:white;
		}
		button:focus, button:active, .button:focus, .button:active{
			-webkit-box-shadow:0 0 15px rgba(0,0,0,0.5);
					box-shadow:0 0 15px rgba(0,0,0,0.5);
		}
		button.alt{
			border-color:white;
			color:white;
		}
		button.alt:hover{
			background-color:white;
			color:black;
		}

	/* Navigation */
		.navigation{
			padding-top:35px;
			position:relative;
			z-index:2;
			-webkit-transition: all var(--transition-time);
			transition: all var(--transition-time);
		}
		.navigation ul{
			list-style: none;
			margin:0 auto;
			padding:0;
			-ms-flex-wrap:nowrap;
			    flex-wrap:nowrap;
		}
		.navigation li{
			text-transform:uppercase;
			color:white;
			margin:0 1em;
			border-bottom:2px solid transparent;
			letter-spacing:0.125em;
			-webkit-transition:all var(--transition-time);
			transition:all var(--transition-time);
		}
		.navigation li:first-child{
			margin:0;
			border:0;
			position:absolute;
			left:15px;
			max-width:20%;
		}
		.navigation li:last-child{
			position:absolute;
			right:35px;
			margin:0;
		}
		.navigation li:hover{border-color:white;}
		#hamburger{
			display:none;
			position:absolute;
			left:0;
			top:0;
			font-size:2em;
			line-height:1;
			-webkit-box-align:center;
			    -ms-flex-align:center;
			        align-items:center;
			padding:0 15px;
			height:100%;
			cursor:pointer;
		}
		#hamburger i{-webkit-transition:all calc(var(--transition-time)*0.5);transition:all calc(var(--transition-time)*0.5);}
		#hamburger.toggled i{-webkit-transform:rotate(90deg);transform:rotate(90deg);}

		.navigation.sticky{
			padding-top:0;
			position:fixed;
			width:100%;
			top:0;
			left:0;
			background-color:white;
			-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.1);
			        box-shadow: 0 0 50px rgba(0,0,0,0.1);
		}
		.navigation.sticky .flex{height:50px;}
		.navigation.sticky li{color:black;border-width:1px;}
		.navigation.sticky li:first-child{
			left:0;
			width:auto;
		}
		.navigation.sticky li .fill{
			max-height:50px;
			width:auto;
		}
		.navigation.sticky li:hover{border-color:black;}

		.navigation .sticky_show{display:none;}
		.navigation.sticky .sticky_show{display:list-item;}
		.navigation.sticky .sticky_hide{display:none;}

			@media (max-width:800px){
				.navigation{padding-top:2%;}
				.navigation ul{
					-ms-flex-pack: distribute;
					    justify-content: space-around;
				}
				.navigation li, .navigation li:last-child{
					position:relative;
					left:0;
					top:0;
					border:0;
					font-weight:700;
					margin:0;
				}
				.navigation li:first-child{display:none;}
			}
			@media (max-width:600px){
				#hamburger{display:-webkit-box;display:-ms-flexbox;display:flex;}
				.navigation{
					background-color:white;
					padding:0;
				}
				.navigation .sticky_hide{display:none;}
				.navigation .sticky_show{display:list-item;}
				.navigation.expand{padding:2.5%;}
				.navigation ul{
					-ms-flex-wrap:wrap;
					    flex-wrap:wrap;
					min-height:50px;
				}
				.navigation li, .navigation li:last-child{
					margin:0;
					-ms-flex-preferred-size:100%;
					    flex-basis:100%;
					text-align:center;
					color:black;
					max-height:0;
					opacity:0;
					pointer-events:none;
					-webkit-transition:all var(--transition-time);
					transition:all var(--transition-time);
				}
				.navigation.expand li, .navigation.expand li:last-child{
					margin:1% auto;
					max-height:30px;
					opacity:1;
					pointer-events: initial;
				}
				.navigation li:first-child, .navigation.sticky li:first-child{
					display:block;
					opacity:1;
					pointer-events: initial;
					max-width:none;
					max-height:50px;
					left:50%;
					margin:0;
					-webkit-transform:translateX(-50%);
					        transform:translateX(-50%);
					-webkit-transition:all var(--transition-time), opacity var(--transition-time) var(--transition-time);
					transition:all var(--transition-time), opacity var(--transition-time) var(--transition-time);
				}
				.navigation li:first-child img{
					max-height:50px;
					width:auto;
				}
				.navigation.expand li:first-child{
					opacity:0;
					pointer-events:none;
					max-height:0;
					-webkit-transition:all var(--transition-time);
					transition:all var(--transition-time);
				}
				.navigation.sticky .flex{height:auto;}
			}



	/* Hero */
		.hero{
			position:absolute;
			z-index:1;
			top:0;
			left:0;
			width:100%;
			height:100%;
			-ms-flex-wrap:nowrap;
				flex-wrap:nowrap;
		}
		.hero > div{
			text-align:center;
			color:white;
			pointer-events:none;
		}
		.hero h2{
			text-transform: lowercase;
			letter-spacing:0.2em;
		}
		.hero .scroll{
			opacity:0.8;
			-webkit-transition:all var(--transition-time);
			transition:all var(--transition-time);
		}
		.hero .scroll:hover{opacity:1;}
		/* For the Careers page */
		.hero h1{
			font-weight:bold;
			letter-spacing:0.5em;
			font-size:4vw;
		}

	/* About */
		.about p, .careers p{
			font-weight:700;
			letter-spacing:0.25em;
		}
			@media (max-width:600px){
				.about p, .careers p{
					font-size:3.5vw;
				}
			}

	/* Slider */
		.slider{
			overflow:hidden;
			position:relative;
		}
		.track{
			-webkit-box-pack:start;
				-ms-flex-pack:start;
					justify-content:flex-start;
			-webkit-transition:all var(--transition-time);
			transition:all var(--transition-time);
		}
		.slide{
			width:100%;
			min-width:100%;
			min-height:75vh;
			background-attachment: scroll;
			background-size:100% auto;
			background-position: center center;
			background-repeat:no-repeat;
			-webkit-box-sizing:border-box;
					box-sizing:border-box;
		}
			@media (orientation:portrait){
				.slide{background-size:cover;}
			}

		.slider-arrow{
			width:80px;
			position:absolute;
			z-index:1;
			top:0;
			bottom:0;
		}
		.slider-arrow:before{
			margin:auto;
			color:white;
		}
		.slider-arrow.left{left:0;}
		.slider-arrow.right{right:0;}
		.slider-icon{
			height:30px;
			width:30px;
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			margin:auto;
			color:white;
			font-size:30px;
			line-height:0;
			text-align:center;
			opacity:0.25;
			-webkit-transition:all var(--transition-time);
			transition:all var(--transition-time);
		}
		.slider-icon.active{
			opacity:1;
			cursor:pointer;
		}
		.circles{
			position:absolute;
			bottom:0;
			left:50%;
			-webkit-transform:translateX(-50%);
					transform:translateX(-50%);
			padding-bottom:10px;
			z-index:1;
		}
		.circle{
			display:inline-block;
			border:2px solid white;
			border-radius:100%;
			width:15px;
			height:15px;
			margin:0 5px;
			-webkit-box-shadow:0 0 15px rgba(0,0,0,0.5);
					box-shadow:0 0 15px rgba(0,0,0,0.5);
			cursor:pointer;
		}
		.circle.active{background-color:white;}

	/* Contact */
		.contact .flex{
			-ms-flex-preferred-size:100%;
			    flex-basis:100%;
			-webkit-box-align: start;
				-ms-flex-align: start;
					align-items: flex-start;
		}

		#contact-wrapper{
			-ms-flex-preferred-size:70%;
			    flex-basis:70%;
			padding-right:5%;
			margin-right:5%;
			text-align:left;
		}
		#contact-wrapper .black{margin:0;}

		#contact-form input, #contact-form textarea{
			display:block;
			width:80%;
			border:2px solid black;
			background-color:white;
			margin-top:20px;
			padding:5px 15px;
			-webkit-transition:all var(--transition-time);
			transition:all var(--transition-time);
		}
		#contact-form label{
			display:block;
			padding:5px 15px;
			margin-top:5px;
			width:80%;
			background-color: tomato;
			color:white;
			border:2px solid tomato;
		}
		#contact-form input{min-height:30px;}
		#contact-form textarea{min-height:150px;}
		#contact-form input::-webkit-input-placeholder, #contact-form textarea::-webkit-input-placeholder{color:black;}
		#contact-form input:-ms-input-placeholder, #contact-form textarea:-ms-input-placeholder{color:black;}
		#contact-form input::placeholder, #contact-form textarea::placeholder{color:black;}
		#contact-form input:focus, #contact-form input:active, #contact-form textarea:focus, #contact-form textarea:active{
			outline:0;
			-webkit-box-shadow:0 0 15px rgba(0,0,0,0.5);
					box-shadow:0 0 15px rgba(0,0,0,0.5);
		}
		#contact-form button{
			text-transform:uppercase;
			font-weight:700;
			margin-top:20px;
		}
		
		.sidebar{
			text-align:left;
			-ms-flex-preferred-size:30%;
				flex-basis:30%;
		}
		.sidebar .black{
			padding:12px 25px;
			margin-left:0;
			margin-bottom:15px;
		}
		.sidebar > div:last-child > .black{margin-top:40px;}
		.sidebar p{margin: 10px auto 10px 0;}
			@media (max-width:600px){
				.contact .flex{
					-ms-flex-wrap:wrap;
					    flex-wrap:wrap;
				}
				#contact-wrapper, .sidebar{
					-ms-flex-preferred-size:100%;
					    flex-basis:100%;
					margin:4% auto;
					text-align:center;
					padding:0;
				}
				#contact-form input, #contact-form textarea{
					margin:1em auto;
					width:90%;
				}
				#contact-form button{margin: 1em auto;}
			}

	/* Menus */
		.menu .black{margin-bottom:0;}
		.menu-links{
			margin:10% auto;
			display:flex;
			flex-wrap:nowrap;
			justify-content: space-around;
			align-items: center;
		}
		.menu span{
			font-size:1.5em;
			text-transform: uppercase;
			font-weight:700;
			margin:2.5% auto;
			border-bottom:2px solid transparent;
			-webkit-transition:all var(--transition-time);
			transition:all var(--transition-time);
		}
		.menu span:hover{border-color:black;}
			@media (max-width:800px){
				.menu .black{margin:0 auto;}
				.menu-links{
					margin:10% auto;
					flex-wrap:wrap;
				}
				.menu span{
					font-size:4vw;
					margin:2.5%;
				}
			}

	/* News */
		.flex.news{
			-webkit-box-align: stretch;
				-ms-flex-align: stretch;
					align-items: stretch;
		}
		.flex.news > div{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%;}
			@media (max-width:800px){
				.flex.news > div{max-width:100%;}
			}

		.news > .flex{
			-ms-flex-wrap:wrap;
			    flex-wrap:wrap;
			-webkit-box-align:end;
			    -ms-flex-align:end;
			        align-items:flex-end;
			background-color:black;
			color:white;
		}
		.news > .flex > div{
			-ms-flex-preferred-size:100%;
			    flex-basis:100%;
		}
		.news > .flex > h2{
			font-weight:300;
			letter-spacing: 0.125em;
			padding:12% 0;
		}
		
		.news .slider{
			background-color:white;
			color:black;
			min-height:50%;
		}
			@media (max-width:600px){
				.news .slider{max-width:100vw;}
			}
		.news .slider .track{
			width:100%;
			height:100%;
		}
		.news .slider .slide{
			min-height:0;
			padding:0 80px;
		}
		.news .slide h2{font-weight:700;}
		.news .slider .slide hr{border-top:3px solid black;}
		.news .slider .slide hr:last-child{margin-bottom:3em;}
		.news .slider .slider-icon{color:black;}
		.news .slider .circle{
			-webkit-box-shadow:none;
					box-shadow:none;
			border-color:black;
		}
		.news .slider .circle.active{background-color:black;}

		.flex.news > .slide{
			min-width:0; 
			min-height:75vh;
		}

		/* Happy Hour */
		#newsslide{
			background-color:black;
			background-image: url(/img/slides/slide-mini-halloween.jpg);
			transition:all var(--transition-time);
		}

			@media (max-width:1024px) and (orientation:portrait){
				.flex.news > .slide{min-height:50vh;}
			}
			@media (max-width:800px){
				.flex.news > div{-ms-flex-preferred-size:100%;flex-basis:100%;}
				.flex.news > .slide{display:none;}
				.news .slider .slide{
					padding:0;
					text-align:center;
				}
			}

	/* Find Us */
		.findus{
			text-align:center;
			display:none;
		}
		.findus .black{
			display:block;
			margin:0 auto;
		}
		.findus .flex{
			-ms-flex-wrap:wrap;
			    flex-wrap:wrap;
			height:60vh;
		}
		.findus iframe{
			width:100%;
			height:100%;
			-ms-flex-preferred-size:70%;
			    flex-basis:70%;
		}
		.findus .text{
			-ms-flex-preferred-size:30%;
			    flex-basis:30%;
			padding:0 5%;
		}
		.findus address{margin:1em auto;}
			@media (max-width:800px){
				.findus .flex{height:auto;}
				.findus iframe, .findus .text{
					-ms-flex-preferred-size:100%;
					    flex-basis:100%;
				}
				.findus iframe{min-height:50vh;}
				.findus .text{padding:5%;}
			}

	/* Back to Top */
		.backtotop{ 
			background-color:black;
			padding:10px 0;
			letter-spacing:0.25em;
			text-transform:uppercase;
			color:white;
			cursor:pointer;
			text-align: center;
			-webkit-transition: all var(--transition-time);
			transition: all var(--transition-time);
		}
		.backtotop:hover{
			background-color:white;
			color:black;
		}

	/* Footer */
		.footer{
			-ms-flex-pack: distribute;
				justify-content: space-around;
			-webkit-box-align: start;
				-ms-flex-align: start;
					align-items: flex-start;
		}
		.section.padded.footer{min-height:0;}

		/* Left */
		.footer address{font-style:normal;}

		/* Middle */
		.social-links h5{
			padding-bottom:1px;
			border-bottom:1px solid transparent;
			display:inline-block;
			font-size:1em;
			letter-spacing:0.125em;
			-webkit-transition:all var(--transition-time);
			transition:all var(--transition-time);
		}
		.social-links h5:hover{border-color:inherit;}
		.social-links p{margin:25px 0 10px;}
		.social-networks i{
			font-size:2em;
			margin-right:10px;
			opacity:0.75;
			-webkit-transition:all var(--transition-time);
			transition:all var(--transition-time);
		}
		.social-networks i:hover{opacity:1;}

		/* Right */
		.subscribe{-ms-flex-preferred-size:20%;flex-basis:20%;}
		.subscribe .email{
			border:0;
			outline:0;
			color:black;
			border-bottom:3px solid black;
			font-weight:700;
			width:100%;
			padding:10px 0;
			margin-bottom:10px;
		}
		.subscribe .email::-webkit-input-placeholder{color:#333;font-weight:700;}
		.subscribe .email:-ms-input-placeholder{color:#333;font-weight:700;}
		.subscribe .email::placeholder{color:#333;font-weight:700;}
		.subscribe p{font-size:0.9em;}
		.subscribe p.success{color:limegreen;}
		.subscribe p.error{color:tomato;}
		.subscribe .button{
			display:none;
			padding:5px 25px;
			margin-top:15px;
			text-transform: uppercase;
			font-weight:bold;
		}
			@media (max-width:1024px){.subscribe .button{display:block;}}
			@media (max-width:800px){
				.footer{
					-ms-flex-wrap:wrap;
					    flex-wrap:wrap;
				}
				.footer .subscribe{
					-ms-flex-preferred-size:100%;
					    flex-basis:100%;
					padding:0 10%;
					margin-top:4%;
					text-align:center;
				}
				.subscribe .button{margin:15px auto 0;}
			}
			@media (max-width:600px){
				.footer > a, .footer > div{
					-ms-flex-preferred-size:100%;
					    flex-basis:100%;
					padding:0 10%;
					margin:2% auto;
					text-align:center;
				}
				.footer .social-links{
					padding:8% 0;
					margin:8% 10%;
					border-top:1px solid #ccc;
					border-bottom:1px solid #ccc;
				}
			}

	/* Careers & Vacancies */
		.careers{background-color:#eee;}

		.vacancy{
			width:48%;
			margin-bottom:2.5%;
			text-align:left;
		}
		.vacancy h3{font-weight:700;}
		.vacancy hr{border-width:3px;border-color:black;}
		.vacancy strong{
			text-transform: uppercase;
			letter-spacing:0.2em;
			font-size:0.8em;
			display:block;
			margin-top:2%;
		}
		.vacancy:nth-child(odd){margin-left:auto;margin-right:0;}
		.vacancy:nth-child(even){margin-left:0;margin-right:auto;}
		.vacancies .text{
			margin-top:5%;
			letter-spacing:0.125em;
		}
			@media (max-width:800px){
				.vacancy{
					width:100%;
					margin:0 auto 5%;
				}
			}

	/* Quandoo */
		#quandoo{display:block;margin-top:20px;}
		#quandoo p{margin-bottom:0;}

/* ==========================================================================
   Helper classes
   ========================================================================== */

	.hidden {
		display: none !important;
		visibility: hidden;
	}
	.visuallyhidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.visuallyhidden.focusable:active,
	.visuallyhidden.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
	.invisible {visibility: hidden;}
	.clearfix:before,
	.clearfix:after {
		content: " ";
		display: table;
	}
	.clearfix:after {clear: both;}
	.clearfix {*zoom: 1;}

/* ==========================================================================
   Print styles
   ========================================================================== */

	@media print {
		*,
		*:before,
		*:after {
			background: transparent !important;
			color: #000 !important;
			-webkit-box-shadow: none !important;
			        box-shadow: none !important;
			text-shadow: none !important;
		}

		a,
		a:visited {
			text-decoration: underline;
		}

		a[href]:after {
			content: " (" attr(href) ")";
		}

		abbr[title]:after {
			content: " (" attr(title) ")";
		}

		a[href^="#"]:after,
		a[href^="javascript:"]:after {
			content: "";
		}

		pre,
		blockquote {
			border: 1px solid #999;
			page-break-inside: avoid;
		}

		thead {
			display: table-header-group;
		}

		tr,
		img {
			page-break-inside: avoid;
		}

		img {
			max-width: 100% !important;
		}

		p,
		h2,
		h3 {
			orphans: 3;
			widows: 3;
		}

		h2,
		h3 {
			page-break-after: avoid;
		}
	}