/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,900');

	/* Generic */
	html {
		color: #222;
		font-size: 1em;
		line-height: 1.4;
	}

	::-moz-selection {
		background: #b3d4fc;
		text-shadow: none;
	}

	::selection {
		background: #b3d4fc;
		text-shadow: none;
	}

	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid #ccc;
		margin: 1em 0;
		padding: 0;
	}

	div{box-sizing:border-box;}

	audio,
	canvas,
	iframe,
	img,
	svg,
	video {vertical-align: middle;}

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	textarea {resize: vertical;}

	.browserupgrade {
		margin: 0.2em 0;
		background: #ccc;
		color: #000;
		padding: 0.2em 0;
	}

/* ==========================================================================
   Fonts
   ========================================================================== */

   h1, h2, h3, h4, h5, h6, p, body{font-family:'Muli', sans-serif;font-weight:400;margin:0;}
   h1, h2, h3, h4, h5, h6{text-transform:uppercase;}
   h3{font-size:1.25em;}
   a{text-decoration: none; color:inherit;}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

	/* Variables */
		:root{
			--transition-time:500ms;
		}

	/* Framework / Universal */
		.section{
			position:relative;
			margin:0 auto;
			display:block;
		}
		.section.padded{padding:4% 0;}
		.container{
			margin:0 auto;
			max-width:1000px;
			text-align: center;
		}
		.parallax{
			width:100%;
			height:100%;
			height:100vh;
			background-attachment:scroll;
			background-attachment: fixed;
			background-size:cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
		.flex{
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-align:center;
			    -ms-flex-align:center;
			        align-items:center;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
		}
		.flex.column{flex-direction: column;}
		.black{
			background-color:black;
			padding:12px 75px;
			color:white;
			display:table;
			margin:0 auto 25px;
		}
		.fill, .slide.fill{
			background-size:cover;
			width:100%;
		}
		.scroll.down{
			position:absolute;
			left:50%;
			transform:translateX(-50%);
			bottom:0;
		}

	/* Buttons */
		button, .button, #contact-form .button {
			padding:12px 50px;
			border: 2px solid;
			border-color: black;
			color:black;
			background-color:transparent;
			outline:0;
			transition:all var(--transition-time);
		}
		button:hover, .button:hover, #contact-form .button:hover{
			background-color:black;
			color:white;
		}
		button:focus, button:active, .button:focus, .button:active{
			-webkit-box-shadow:0 0 15px rgba(0,0,0,0.5);
			        box-shadow:0 0 15px rgba(0,0,0,0.5);
		}
		button.alt{
			border-color:white;
			color:white;
		}
		button.alt:hover{
			background-color:white;
			color:black;
		}

	/* Navigation */
		.navigation{
			padding-top:35px;
			position:relative;
			z-index:2;
		}
		.navigation ul{
			list-style: none;
			margin:0 auto;
			padding:0;
			flex-wrap:nowrap;
		}
		.navigation li{
			text-transform:uppercase;
			color:white;
			margin:0 1em;
			font-size:1.25em;
			font-weight:700;
			border-bottom:2px solid transparent;
			transition:all var(--transition-time);
		}
		.navigation li:first-child{
			margin:0;
			border:0;
			position:absolute;
			left:15px;
			max-width:20%;
		}
		.navigation li:last-child{
			position:absolute;
			right:35px;
			margin:0;
			font-weight:400;
		}
		.navigation li:hover{border-color:white;}

	/* Hero */
		.hero{
			position:absolute;
			z-index:1;
			top:0;
			left:0;
			width:100%;
			height:100%;
			-ms-flex-wrap:nowrap;
			    flex-wrap:nowrap;
		}
		.hero > div{
			text-align:center;
			color:white;
			pointer-events:none;
		}
		.hero .scroll{
			opacity:0.8;
			transition:all var(--transition-time);
		}
		.hero .scroll:hover{opacity:1;}

	/* About */
		.about .black{margin:40px auto;}
		.about p{
			margin:25px auto;
			font-weight:700;
			font-size:1.1em;
		}

	/* Slider */
		.slider{
			overflow:hidden;
			position:relative;
		}
		.track{
			-webkit-box-pack:start;
			    -ms-flex-pack:start;
			        justify-content:flex-start;
			transition:all var(--transition-time);
		}
		.slide{
			width:100%;
			min-width:100%;
			min-height:50vh;
			background-attachment: scroll;
			background-size:100% auto;
			background-position: center center;
			background-repeat:no-repeat;
			-webkit-box-sizing:border-box;
			        box-sizing:border-box;
		}
		.slider-arrow{
			width:80px;
			position:absolute;
			z-index:1;
			top:0;
			bottom:0;
		}
		.slider-arrow:before{
			margin:auto;
			color:white;
		}
		.slider-arrow.left{left:0;}
		.slider-arrow.right{right:0;}
		.slider-icon{
			height:30px;
			width:30px;
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			margin:auto;
			color:white;
			font-size:30px;
			line-height:0;
			text-align:center;
			opacity:0.25;
			transition:all var(--transition-time);
		}
		.slider-icon.active{
			opacity:1;
			cursor:pointer;
		}
		.circles{
			position:absolute;
			bottom:0;
			left:50%;
			-webkit-transform:translateX(-50%);
			        transform:translateX(-50%);
			padding-bottom:10px;
			z-index:1;
		}
		.circle{
			display:inline-block;
			border:2px solid white;
			border-radius:100%;
			width:15px;
			height:15px;
			margin:0 5px;
			-webkit-box-shadow:0 0 15px rgba(0,0,0,0.5);
			        box-shadow:0 0 15px rgba(0,0,0,0.5);
			cursor:pointer;
		}
		.circle.active{background-color:white;}

	/* Contact */
		.contact .flex{
			-webkit-box-align: start;
			    -ms-flex-align: start;
			        align-items: flex-start;
		}
		form.contact{
			text-align:left;
			-ms-flex-preferred-size:70%;
			    flex-basis:70%;
		}
		form.contact .black{margin-left:0;}
		form.contact input, form.contact textarea{
			border:2px solid black;
			background-color:white;
			margin-bottom:25px;
			padding:5px 15px;
			transition:all var(--transition-time);
		}
		form.contact input::-webkit-input-placeholder, form.contact textarea::-webkit-input-placeholder{color:black;}
		form.contact input:-ms-input-placeholder, form.contact textarea:-ms-input-placeholder{color:black;}
		form.contact input::placeholder, form.contact textarea::placeholder{color:black;}
		form.contact input:focus, form.contact input:active, form.contact textarea:focus, form.contact textarea:active{
			outline:0;
			-webkit-box-shadow:0 0 15px rgba(0,0,0,0.5);
			        box-shadow:0 0 15px rgba(0,0,0,0.5);
		}
		form.contact input{
			min-height:30px;
			margin-right:15px;
			min-width:30%;
		}
		form.contact textarea{
			width:80%;
			min-height:150px;
		}
		form.contact .button{
			text-transform:uppercase;
			font-weight:700;
		}

		.sidebar{
			text-align:left;
			-ms-flex-preferred-size:30%;
			    flex-basis:30%;
		}
		.sidebar .black{
			padding:12px 25px;
			margin-left:0;
			margin-bottom:15px;
		}
		.sidebar > div:last-child > .black{margin-top:50px;}
		.sidebar h4{font-weight:700;}
		.sidebar h4, .sidebar p{margin: 10px auto 10px 0;}

	/* Menu */
		.menu span{
			font-size:1.5em;
			text-transform: uppercase;
			font-weight:700;
			margin:0 50px;
			border-bottom:2px solid transparent;
			transition:all var(--transition-time);
		}
		.menu span:hover{border-color:black;}
		.menu-links{margin:100px auto;}

	/* News */
		.flex.news{
			-webkit-box-align: stretch;
			    -ms-flex-align: stretch;
			        align-items: stretch;
		}
		.flex.news > div{-ms-flex-preferred-size:50%;flex-basis:50%;}

		.news > .flex{
			flex-wrap:wrap;
			align-items:flex-end;
			background-color:black;
			color:white;
		}
		.news > .flex > div{
			flex-basis:100%;
		}
		
		.news .slider{
			background-color:white;
			color:black;
			min-height:50%;
		}
		.news .slider .slide{
			min-height:0;
			padding:0 80px;
			height:100%;
			font-weight:700;
		}
		.news .slider .slide hr{border-top:3px solid black;}
		.news .slider .slide hr:last-child{margin-bottom:3em;}
		.news .slider .slider-icon{color:black;}
		.news .slider .circle{
			-webkit-box-shadow:none;
			        box-shadow:none;
			border-color:black;
		}
		.news .slider .circle.active{background-color:black;}

		.flex.news > .slide{
			min-width:0;
			min-height:50vh;
		}

	/* Back to Top */
		.backtotop{
			background-color:black;
			padding:10px 0;
			letter-spacing:0.25em;
			text-transform:uppercase;
			color:white;
			cursor:pointer;
			text-align: center;
			transition: all var(--transition-time);
		}
		.backtotop:hover{
			background-color:white;
			color:black;
		}

	/* Footer */
		.footer{
			-ms-flex-pack: distribute;
			    justify-content: space-around;
			-webkit-box-align: start;
			    -ms-flex-align: start;
			        align-items: flex-start;
		}
		.footer address{font-style:normal;}
		.footer .black{
			padding:12px 50px;
			margin-bottom:25px;
		}
		.footer .social-links h3{
			font-weight:700;
		}
		.footer .social-links p{
			margin:25px 0 10px;
		}
		.footer .social-links i{
			font-size:2em;
			margin-right:10px;
		}
		.subscribe{-ms-flex-preferred-size:20%;flex-basis:20%;}
		.subscribe input{
			border:0;
			outline:0;
			border-bottom:3px solid black;
			font-weight:700;
			width:100%;
			padding:10px 0;
			margin-bottom:10px;
		}
		.subscribe input::-webkit-input-placeholder{color:black;font-weight:700;}
		.subscribe input:-ms-input-placeholder{color:black;font-weight:700;}
		.subscribe input::placeholder{color:black;font-weight:700;}
		.subscribe p{font-size:0.9em;}


/* ==========================================================================
   Media Queries
   ========================================================================== */

	@media only screen and (min-width: 35em) {

	}

	@media print,
		   (-o-min-device-pixel-ratio: 5/4),
		   (-webkit-min-device-pixel-ratio: 1.25),
		   (min-resolution: 120dpi) {

	}

/* ==========================================================================
   Helper classes
   ========================================================================== */

	.hidden {
		display: none !important;
		visibility: hidden;
	}
	.visuallyhidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.visuallyhidden.focusable:active,
	.visuallyhidden.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
	.invisible {visibility: hidden;}
	.clearfix:before,
	.clearfix:after {
		content: " ";
		display: table;
	}
	.clearfix:after {clear: both;}
	.clearfix {*zoom: 1;}

/* ==========================================================================
   Print styles
   ========================================================================== */

	@media print {
		*,
		*:before,
		*:after {
			background: transparent !important;
			color: #000 !important;
			box-shadow: none !important;
			text-shadow: none !important;
		}

		a,
		a:visited {
			text-decoration: underline;
		}

		a[href]:after {
			content: " (" attr(href) ")";
		}

		abbr[title]:after {
			content: " (" attr(title) ")";
		}

		a[href^="#"]:after,
		a[href^="javascript:"]:after {
			content: "";
		}

		pre,
		blockquote {
			border: 1px solid #999;
			page-break-inside: avoid;
		}

		thead {
			display: table-header-group;
		}

		tr,
		img {
			page-break-inside: avoid;
		}

		img {
			max-width: 100% !important;
		}

		p,
		h2,
		h3 {
			orphans: 3;
			widows: 3;
		}

		h2,
		h3 {
			page-break-after: avoid;
		}
	}