/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Fonts
   ========================================================================== */

   h1, h2, h3, h4, h5, h6, p, body{font-family:'Lato', sans-serif;font-weight:400;margin:0;}
   h1, h2, h3{text-transform:uppercase;}
   a{text-decoration: none; color:inherit;}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

	/* Variables */
		:root{
			--transition-time:500ms;
			--transition-delay:500ms;
			--scale-multiplier:1.05;
		}

	/* Framework / Universal */
		.section{
			position:relative;
			margin:0 auto;
		}
		.section.padded{padding:2.5% 0;}
		.container{
			margin:0 auto;
			max-width:1000px;
			text-align: center;
		}
		.parallax{
			width:100%;
			height:100%;
			height:100vh;
			background-attachment:scroll;
			background-attachment: fixed;
			background-size:cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
		.flex{
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-align:center;
			    -ms-flex-align:center;
			        align-items:center;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
		}
		.black{
			background-color:black;
			padding:12px 25px;
			color:white;
			display:table;
			margin:0 auto;
		}
		.container .black{
			padding:12px 75px;
			margin-bottom:25px;
		}

	/* Buttons */
		button {
			padding:12px 50px;
			border: 2px solid;
			border-color: black;
			color:black;
			background-color:transparent;
			-webkit-transition: all var(--transition-time);
			transition: all var(--transition-time)
		}
		button:hover{
			background-color:black;
			color:white;
		}
		button.alt{
			border-color:white;
			color:white;
		}
		button.alt:hover{
			background-color:white;
			color:black;
		}

	/* Navigation */
		.navigation{
			text-align:center;
			padding:30px;
			position:relative;
			z-index:2;
		}
		.navigation ul{
			list-style: none;
			margin:0 auto;
			padding:0;
		}
		.navigation li{
			display:inline-block;
			text-transform:uppercase;
			color:white;
			font-size:1.5em;
			margin:0 20px;
			font-weight:300;
			border-bottom:1px solid transparent;
			-webkit-transition:all var(--transition-time);
			transition:all var(--transition-time);
		}
		.navigation li:first-child{
			margin:0;
			float:left;
			font-size:2em;
			border-bottom:5px solid transparent;
			position:absolute;
			left:20px;
			top:20px;
		}
		.navigation li:last-child{
			float:right;
			position:absolute;
			top:30px;
			right:30px;
		}
		.navigation li:hover{border-color:white;}

	/* Hero */
		.hero{
			position:absolute;
			z-index:1;
			pointer-events: none;
			top:0;
			left:0;
			width:100%;
			height:100%;
			-ms-flex-wrap:nowrap;
			    flex-wrap:nowrap;
		}
		.hero div{text-align:center;color:white;}
		.hero-cta{
			position:absolute;
			bottom:0;
			padding-bottom:10px;
			left:50%;
			-webkit-transform:translateX(-50%);
			        transform:translateX(-50%);
			text-align:center;
			color:white;
		}
		.hero-cta button{
			margin-bottom:25px;
			text-transform:uppercase;
			font-size:1.5em;
		}
		.hero-cta i{
			font-size:3em;
		}

	/* About */
		.about{padding:4% 0;}
		.about .black{margin:40px auto;}
		.about p{
			margin:25px auto;
			font-weight:700;
			font-size:1.1em;
		}

	/* Slider */
		.slider{
			overflow:hidden;
		}
		.track{
			-webkit-box-pack:start;
			    -ms-flex-pack:start;
			        justify-content:flex-start;
			-webkit-transition:-webkit-transform var(--transition-time);
			transition:-webkit-transform var(--transition-time);
			transition:transform var(--transition-time);
			transition:transform var(--transition-time), -webkit-transform var(--transition-time);
		}
		.slide{
			width:100%;
			min-width:100%;
			min-height:50vh;
			background-attachment: scroll;
			background-size:100% auto;
			background-position: center center;
			background-repeat:no-repeat;
		}
		.slider-arrow{
			width:80px;
			position:absolute;
			z-index:1;
			top:0;
			bottom:0;
		}
		.slider-arrow:before{
			margin:auto;
			color:white;
		}
		.slider-arrow.left{left:0;}
		.slider-arrow.right{right:0;}
		.slider-icon{
			height:30px;
			width:30px;
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			margin:auto;
			color:white;
			font-size:30px;
			line-height:0;
			text-align:center;
			opacity:0.25;
			-webkit-transition:all var(--transition-time);
			transition:all var(--transition-time);
		}
		.slider-icon.active{
			opacity:1;
			cursor:pointer;
		}
		.circles{
			position:absolute;
			bottom:0;
			left:50%;
			-webkit-transform:translateX(-50%);
			        transform:translateX(-50%);
			padding-bottom:10px;
			z-index:1;
		}
		.circle{
			display:inline-block;
			border:2px solid white;
			border-radius:100%;
			width:15px;
			height:15px;
			margin:0 5px;
			-webkit-box-shadow:0 0 15px rgba(0,0,0,0.5);
			        box-shadow:0 0 15px rgba(0,0,0,0.5);
			cursor:pointer;
		}
		.circle.active{background-color:white;}

	/* Contact */

	/* Menu */

	/* What's On */

	/* Back to Top */
		.backtotop{
			background-color:black;
			padding:10px 0;
			color:white;
			cursor:pointer;
			-webkit-transition:all var(--transition-time);
			transition:all var(--transition-time);
		}
		.backtotop:hover{
			background-color:white;
			color:black;
		}

	/* Footer */
		.footer{
			-ms-flex-pack: distribute;
			    justify-content: space-around;
		}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}